body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 70%;
  border-radius: 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

#click-button {
  height: 150px;
  width: 150px;
  background-color: #3b44f6;
  color: white;
  border: none;
  border-radius: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
#click-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#click-button:active {
  transform: translate(0, 1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.countdown {
  font-size: 24px;
  margin-top: 20px;
}

#score {
  font-size: 20px;
  margin-top: 20px;
}
