body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  margin-top: 20px;
}

.main-container {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.restart-button {
  margin: 0 auto;
}

.game-input {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  width: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.message {
  font-size: 20px;
  margin-top: 20px;
}

.restart-button {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.home-button {
  position: absolute;
  top: 5px;
  left: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 32px;
  color: #afafaf;
  cursor: pointer;
}

.home-button:hover {
  color: #3b44f6;
  transition: all 0.2s;
}
